html, body {
    height:100%;
}

.splash-screen{
  background-color: red ;
  margin: 0;
  background-image:url(../img/air_by_stupimistavicta-d8c9aq4.png);
  background-size: 100%;
  background-repeat:no-repeat;
  height: 100%;
}



.text-center{
    height:200px;
 line-height:200px;
 text-align:center;
}

.textrowcontainer {
  vertical-align: middle;
height: 20%;
}

.center-block{
height: 60%;
}




.imglog{

}
main{
padding-bottom:12px ;
}
footer{
border-top: 1px solid;
}
.social{
margin-top: 2%;
}
