html, body {
    height:100%;
}
body { margin: 0px; padding: 0px; background-color: ghostwhite;}
#map_canvas { height: 300px ; width:10	00px;}
h2{
  font-size: 45px;
  font-family: "Ubuntu Condensed",sans-serif;;
}
h3{
  font-size: 30px;
  font-family: "Lato",sans-serif;
}
p{
  font-family: "Lato",sans-serif;
}
.zoomimg{
position: absolute;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;

}

.text-center {
    vertical-align: middle;
}

.header-center {
    height:200px;
	 line-height:200px;
	 text-align:center;
}

.textrowcontainer {
  vertical-align: middle;
height: 20%;
}

.center-block {
height: 60%;
}



#acceuil {
  height: 40%;
}

.imglog {

}
main {
	padding-bottom:12px ;
}
footer{
	border-top: 1px solid;
}
.social {
	margin-top: 2%;
}

.carousel-inner {
  	height: 450px;
}

.carousel-inner .item, .carousel-inner .item.active {
    height: 100%;
    width : 100%;
}

.carousel-inner .item img {
    margin: 0px auto;
    height: 100%;
    width: auto;
}



.content section {

  padding: 40px;
}

#chronos {
  margin-left: 37%;
  margin-right: 30%;
}


/*les jolies couleurs*/
.splash-screen {
	background-color: red ;
	margin: 0;
	background-image:url(../img/air_by_stupimistavicta-d8c9aq4.png);
	background-size: cover;
	background-repeat:no-repeat;
}



/*grey : #C0C0C0
Silver*/
