html, body {
    height:100%;
}
body { margin: 0px; padding: 0px }
#map_canvas { height: 300px ; width:10	00px;}
		  
.splash-screen{
  background-color: red ;
  margin: 0;
  background-image:url(../img/air_by_stupimistavicta-d8c9aq4.png);
  background-size: 100%;
  background-repeat:no-repeat;
  height: 100%;
}


.text-center{
    vertical-align: middle;
}

.header-center{
    height:200px;
	 line-height:200px;
	 text-align:center;
}

.textrowcontainer {
  vertical-align: middle;
height: 20%;
}

.center-block{
height: 60%;
}



#acceuil{
  height: 40%;
}

.imglog{

}
main{
padding-bottom:12px ;
}
footer{
border-top: 1px solid;
}
.social{
margin-top: 2%;
}

.carousel-inner {
  height: 450px;
}

.carousel-inner .item, .carousel-inner .item.active {
    height: 100%;
    width : 100%;
}

.carousel-inner .item img {
    margin: 0px auto;
    height: 100%;
    width: auto;
}



.content section {
  margin : 20px 0px ;
}

#chronos
{
  margin-left: 37%;
  margin-right: 30%;
}


/*les jolis couleurs*/
.splash-screen{
  background-color: red ;
  margin: 0;
  background-image:url(../img/air_by_stupimistavicta-d8c9aq4.png);
  background-size: cover;
  background-repeat:no-repeat;
}
.medium-blue{
  color: #232E3F;
}
.medium-blue-bg{
  background-color: #232E3F;
}
.dark-blue{
  color: #1A1E27;
}
.dark-blue-bg{
  background-color: #1A1E27;
}
.light-blue{
  color: #505C72;
}
.light-blue-bg{
  background-color:#505C72;
}
.blue-grey{
  color:#8C98A4;
}
.blue-grey-bg{
  background-color: #8C98A4;
}
.grey{
  color:#D701CA;
}
.violetdegueulasse-bg{
  background-color:#D701CA;
}

.nav-item :hover{
  background-color: #232E3F !important;
}

/*grey : #C0C0C0
Silver*/
